/*GENERALES*/
	body{
		/*font-family: 'Ravi Prakash', cursive;*/
		font-family: 'Viga', sans-serif;
		overflow-x: hidden;
	}
/*NAVBAR*/
	a {color: white;}
	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus {
	  color: white;
	  text-decoration: none;
	  background-color: rgba(0,0,0,0.2);
	}
	.menu{
	margin-bottom: 55px;
	}
	.logotipo{
		padding: 7px;
	}
	.logotipo img {
		height: 35px; width: 35px;
	}
/*TITULO*/
.titulo, .mas{margin-bottom: 5px;}
.titulo{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url('../img/img2.jpg');
	color: white;
	position: relative;
	}
/*-----*/

/*-----*/
	.logoTao img{	height: 170px;	}	
	.carousel .item {
	    height: 500px;
	    min-width: 80%;
	    min-height: 80%;	    
		box-shadow:0px 0px 25px rgba(255,255,255,.5);
	}
	.Jugabilidad{
		font-size: 20px;		
		text-shadow: 0 0 10px #FFFFFF;
	}
/*-----*/
 	.imgP img{
 		height: 300px;
 	}

 	#Our li{
 		font-size: 20px;
 		text-align: left;
 	}

 	#About{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url('../img/img1.jpg');
	color: white;
 	}
