/*GENERALES*/
	body{
		/*font-family: 'Ravi Prakash', cursive;*/
		font-family: 'Viga', sans-serif;
	}
/*NAVBAR*/
	a {color: white;}
	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus {
	  color: white;
	  text-decoration: none;
	  background-color: rgba(0,0,0,0.2);
	}
	.menu{
	margin-bottom: 55px;
	}
	.logotipo{
		padding: 7px;
	}
	.logotipo img {
		height: 35px; width: 35px;
	}
/*TITULO*/
.titulo{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url('../img/img2.jpg');
	color: white;

	position: relative;
	}


.mas{
	color: white;
}