@media only screen
and (max-width: 720px)
{
	html, body
	{
		max-width: 720px;
		min-width: 520px;
	}
	.wraper.head
	{
		min-width: 0;
	}
	.head-els
	{
		max-width: 570px;	
		padding-left: 30px;
		padding-right: 30px;
	}
	.menu, .login
	{
		display: none;
	}
	
	
	.slide-main, #sequence
	{
		height: auto;
		width: 570px;
	}
	.slider_p1,*.slider_p2,*.slider_p3
	{
		display: none;
	}
	.mbl-menu
	{
		width: 40px;
		height: 36px;
		background-color: #5d6d7e;
		float: right;
		position: absolute;
		right: 40px;
		padding-top: 4px;
		cursor: pointer;
		z-index: 49;
		display: inline-block;
		top: 20px;
	}
	
	.mbl_menu_el
	{
		height: 4px;
		width: 25px;
		display: block;
		margin: 5px auto 5px auto;
		background-color: white;
		
	}
	.mbl_menu_cont
	{
		position: absolute;
		top: 103%;
		left: 0;
		right: 0;
		margin: auto;
		width: 520px;
		display: none;
	}
	.mbl_menu_cont ul
	{
		
		list-style: none;
		position: absolute;
		left:-9999px;
		opacity:0;
		-webkit-transition:0.25s linear opacity;
		margin-left: auto;
		margin-right: auto;
	}
	.mbl_menu_cont li
	{
		float: none;
		list-style: none;
		background-color: #5d6d7e;
		height: 60px;
		text-align: center;
		line-height: 60px;
		text-transform: uppercase;
		color: white;
		border-bottom: 1px lightgray solid;
		font-size: 35px;
		
	}
	.mbl_menu_cont a
	{
		white-space:nowrap;
		display:block;
		text-decoration: none;
		text-decoration: none;
		color: white;
	}
	.mbl-slide
	{
		height: 160px;
		max-width: 570px;
	}
	
	.intro_buttons li:first-child
	{
		margin-bottom: 20px;
	}
	section.paging-main
	{
		line-height: 15px;
		height: 15px;
	}
	.h-pc
	{
		display: none;
	}
	.feature .horizontal
	{
		display: none;
		
	}
	.h-mbl
	{
		display: block;
	}
	.gallery_cont
	{
		width: 580px;
	}
	.gallery_cont .opie-portfolio
	{
		width: 100%;
	}
	.sequence-canvas li img
	{
		
	}
	.wraper_bg-bright{
		background-image: url("../img/bg-bright-mbl.png");
		overflow: hidden;
		padding-top: 20px;
	}
	.wraper_bg-bright h3, .wraper_bg-raw h3
	{
		max-width: 480px;
		margin: auto;
	}
	.packs-cont
	{
		max-width: 720px;
		overflow: hidden;
	}
	.note p{
		padding-left: 0px;
		width: 360px;
	}
	.mbl-packs-cont
	{
		width: 880px;
		overflow:hidden;
		position: relative;
		top: 0;
		left: 50%;
		margin-left: -440px;
	}
	.pack
	{
		position: relative;
	}
	
	.profits
	{
		max-width: 370px;
		overflow: hidden;
		margin-top: 60px;
		margin-bottom: 0;
	}

	.mbl-profits-cont
	{
		width: 1120px;
		overflow:hidden;
		position: relative;
		height: 200px;
	}
	.profits-block
	{
		width: 270px;
	}
	.profits-block p
	{
		font-size: 20px;
		line-height: 26px;
		font-family: 'Calibri', serif;
	}
	.profits-block h2
	{
		font-size: 20px;
		line-height: 50px;
	}
	aside.feedback-as.feedback-as-l
	{
		margin-right: 0;
	}
	.feature
	{
		width: 440px;
		margin: 0 70px;
	}
	.mbl-paging
	{
		display: block;
	}
	.features-cont
	{
		width: 430px;
		overflow: hidden;
		margin: 0 auto;
		padding: 0;
	}
	.features-cont-sub
	{
		width: 3495px;
		padding: 0;
		position: relative;
	}
        .features-cont-sub .feedback-as{
            margin: 0;
            padding: 0;
        }
	.mbl-paging-features
	{
		height: 75px;
		line-height: 75px;
	}
	section.mbl-paging-reverse .dot.selected, section.mbl-paging-reverse .dot:hover
	{
		background-color: white;
		opacity:0.85;
	}
	.map
	{
		height: 660px;
	}
	.address
	{
		margin: 0;
		width: 100%;
		top: 0;
	}
	.addr_info
	{
		display: block;
		margin-bottom: 35px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
	.map_container_1
	{
		width: 100%;
	}
	.address h1
	{
		margin: 95px auto 360px auto;
		padding: 0;
		text-align: center;
	}
	.address h3
	{
		padding: 0;
		font-size: 14px;
		color: #37353a;
		line-height: 18px;
		max-width: 480px;
		margin: auto;
		text-align: center;
	}
	.location
	{
		right: 47%;
	}
	.triangle2
	{
		display: none;
	}
	.head-els.footer
	{
		height: 80px;
		text-align: center;
		margin-top: 5px;
	}
	.logo{
		font-size: 33px;
	}
	.head-els.footer .logo
	{
		display: inline-block;
		float: none;
	}
	.f_text
	{
		text-align: center;
		float: none;
		margin: auto;
		height: auto;
		padding-bottom: 60px;
	}
	.f_subscribe
	{
		float: none;
		margin: auto;
		width: 460px;
	}
	.f_subscribe h3
	{
		text-align: center;
	}
	.f_form input.form1
	{
		width: 440px;
		margin-bottom: 20px;
	}
	.f_form input.form2
	{
		width: 460px;
	}
	.f_section .f_form
	{
		height: 140px;
	}
	.f_section  p.last-p 
	{
		padding: 30px 0 60px 0;
		text-align: center;
	}
	footer.wraper
	{
		padding: 0;
	}
	.blog_post
	{
		width: 580px;
		margin: auto;
	}
	.blog_post_tmp
	{
		margin-bottom: 30px;
		width: 580px;
	}
	.blog_cont_right
	{
		display: none;
	}
	.blog_cont_left
	{
		float: none;
		width: 580px;
		margin: auto;
	}
	.blog_cont
	{
		height: 510px;
		min-height: 580px;
		width: auto;
	}
	.member
	{
		display: block;
		width: 160px;
		margin: auto;
	}
        .feature_cont_slider_mobile{
            width: 440px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
        }
        .feature_cont_slider_mobile .feature_cont{
            position: relative;
            width: auto;
            max-width: none;
            height: 250px;
            margin: 0;
        }
        .feature_cont_slider_mobile .feature_cont .feature{
           margin: 0;
           float: left;
        }
        .team_scroller_mobile_cont {
            max-width: 220px;
            position: relative;
            overflow: hidden;
            margin: 0 auto;
        }
		 .team_scroller_mobile_cont .team_members{
			 position: relative;
			 width: 880px;
		 }
        .team_scroller_mobile_cont .team_members .member{
            float: left;
			padding: 0 30px;
        }
		.slide-main h1.slider_main_header{
			width: auto;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
		.slider_main_image{
			width: 100%;
		}
		.cont{
			height: 492px;
		}
		.slider_main_image_1{
			width: 75%;
		}
		.slider_main_image_2{
			width: 40%;
			bottom: -10%;
			right: 4%;
		}
		.footer
		{
			height: 80px;
		}
		.f_subscribe
		{
			margin-top: 30px;
			margin-bottom: 30px;
		}
		.f_form input
		{
			height: 70px;
			font-size: 20px;
			border-radius: 3px;
		}
		.mbl-pack-mask{
			background: white;
			opacity: .5;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		.counter_cont{
			width: 384px;
			margin-top: 20px;
			
		}
		.counter_item{
			padding-bottom: 20px;
			width: 190px;
			float: left;
		}
		.counter_item h3{
			padding-top: 5px;
		}
		.counter_item:nth-child(3),.counter_item:nth-child(4){
			padding-top: 30px;
		}
		.counter_item:nth-child(2){
			border-right: none;
			border-bottom: 1px #bdc3c7 solid;
		}
		.counter_item:nth-child(1){
			border-bottom: 1px #bdc3c7 solid;
		}
		.counters{
			margin-top: 145px;
		}
		.img_border2, .img_border{
			margin-top: 8px;
		}
		.step p, .services_cont p, .loan_r .special{
			font-size: 17px;
		}
		.step p{
			width: 360px;
		}
		.amount-message-main, .wraper_bg-bright h3, .wraper.bg-raw h3, .intro_block h3.special, .loan_r a{
			font-size: 19px;
		}
		.intro_h .intro_links h3{
			font-size: 14px;
			margin-top: 12px;
		}
		.feedback-as.feedback-as-l{
			padding-top: 8px;
			padding-left: 8px;
		}
		
		.intro_h{
			float: none;
			height: auto;
			margin: 10px auto;
			width: auto;
			
		}
		.step.first{
			margin-top: 50px;
		}
		.intro_links{
			width: 420px;
			margin-left: 100px;
		}
		.intro_h h1{
			margin: 0;
			margin-top: 70px;
			font-size: 58px !important;
		}
		.intro_h h3.special{
			font-size: 20px !important;
			margin-left: 0px;
		}
		#intro .cont{
			height: auto;
			margin-bottom: -10px;
			color: #000000;
		}
		.intro_block{
			display: block;
			margin: auto;
			margin-top: 40px;
			color: #000000;
			
		}
		.get_cont{
			height: auto;
			width: auto;
		}
		
		.get_cont img{
			width:350px
		}
		
		
		.get_cont.cbp-so-section{
			padding-bottom:130px;
		}
		.get_left, .get_right{
			display: block;
			margin: auto;
		}
		
		.get_right{
			margin-top: 60px;
		}
		.get_left h2, .get_right h2, .get_right p, .js-animated-list{
			margin-left: 25px;
		}
		.get_left p{
			margin-left: 0px;
			width: auto;
		}
		.pc{
			display: none;
		}
		.mobile{
			display: block;
		}
		.load_after_cont {
			width: auto;
		}
		.loan_after {
			float: none;
		}
		.trial{
			width: 360px;
			height: 70px;
			position: relative;
		}
		.note .trial{
			width: 360px;
			height: 60px;
			position: relative;
		}
		.trial a{
			width: 360px;
			/*line-height: 70px;*/
			font-size: 20px;
			display: block;
			position: absolute;
			top:18px;
		}
		.note .trial a{
			width: 360px;
			/*line-height: 70px;*/
			font-size: 20px;
			display: block;
			position: absolute;
			top: 11px;
		}
		
		#loan2{padding-bottom:0}
		
		.loan_r{
			width: auto;
			height: auto;
		}
		.loan_r_image{
			position: absolute;
			bottom: 80px;
			height: 355px;
			right: -155px;
		}
		.l_form1{
			height: 70px;
			width: 345px;
		}
		.loan_m, .loan_l{
			margin-bottom: 40px;
			width: 360px;
		}
		.loan_m{
			margin-bottom:0;
		}
		.loan_l p, .loan_m p{
			font-size: 20px;
			margin-left: 0px;
		}
		.loan_m select.l_form1 {
			width: 360px;
		}
		.loan_m textarea{
			height: 180px;
			width: 345px;
			padding-right: 0px;
		}
		.step{
			height: 102px;
			text-align: left;
			position: relative;
			float: left;
			width: 400px;
		}
		.vertical{
			top: 70px;
		}
		.super-puper-mega-h{
			width: 500px;
			margin: auto;
		}
		.small_circle_cont{
			width: auto;
			text-align: center;
			margin-bottom: 130px;
		}
		.super-circle-small{
			float: none;
			margin-top: 27px;
		}
		.map_container{
			width: auto;
		}
		.address3{
			width: auto;
			padding-top: 40px;
		}
		.address_cont{
			height: auto;
			text-align: center;
			width: 504px;
			margin-left: 20px;
			margin-bottom: 60px;
		}
		.services_cont{
			width: 450px;
			height: 400px;
			overflow: hidden;
			margin-bottom: 0px;
		}
		.super-circleg{
			margin-top:0;
		}
		.super-circleg ~h2{
			margin-top:15px!important;
		}
		.getaloan-cont{
			width: 360px;
			height: 200px;
			position: relative;
			margin-top: 30px;
		}
		.getaloan-cont .trial{
			margin: auto;
			display: block;
			margin-left: 0px;
			position: absolute;
			top: 0px;
		}
		.getaloan-cont .p_bottom{
			margin: auto;
			width: 360px;
			display: block;
			margin-bottom: 30px;
			margin-top: 40px;
			text-align: center;
			position: absolute;
			top: 65px;
		}
		.services_cont_slider{
			width: 2700px;
			height: 185px;
			position: relative;
			margin-left: 0px;
		}
		.service_l, .service_r{
			float: left;
			display: block;
			margin: 0;
			padding: 0;
		}
		.arrow_blue{
			margin-left: 0px;
		}
		.arrow_blue, .icon_white {
			width: 52px;
			height: 52px;
			border-radius: 26px;
		}
		.icon_white img{
			width: 33px;
		}
		.arrow_right {
			border-left: 15px solid white;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;

		}
		.diagonal1, .diagonal2{
			background-image: url("../img/bg-bright-mbl.png");
		}
		#intro{
			margin-bottom: -24px;
			/*background-image: url("../img/bg-bright-mbl2.png");*/
		}
		.address1, .address2{
			width: 250px;
		}
		
		
		
		.service_l:nth-child(1){
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
		}
		.service_r:nth-child(2){
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
		}
		.service_l:nth-child(3){
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
		}
		.service_r:nth-child(4){
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
		}
		.service_l:nth-child(5){
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);;
		}
		.service_r:nth-child(6){
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
		}
}

.brochazo1 {
margin-left: 0px
}
.comocuadro {
font-size: 24px
}

.comocuadro2 {
font-size: 24px
margin-top: 0px;
}
